<div class="bg">
	<div class="clear20"></div>
	<div class="row">
		<div class="large-12 columns">
			<h1 class="mont bold white shadow-text large">Recovered </br>&amp; Delivered</h1>
			<p class="white">baskets of deliciously packed fruit </br>and vegetable bags</p>
			<p class="mont bold white medium">£9.99 Per Week</p>
			<div class="clear10"></div>
			<a href="/static_pages/productlanding" class="button rounded shadow">Get Started</a>
		</div>
	</div>
	<div class="clear20"></div>
</div>


<div class="body1">
	<div class="row">
		<div class="large-12 columns">
			<div class="clear20"></div>
			<h4 class="bold center">Sustainable, Hassle Free, Delicious</h4>
			<div class="clear20"></div>
		</div>
	</div>

	<div class="row">
		<div class="large-4 columns center">
		<img src="assets/1.jpg" alt=""> 
			<h4 class="bold center">We Recover it</h4> 
			<p class="center">45% of food stock is wasted</p>
		</div>
		<div class="large-4 columns center">
			<img src="assets/3.jpg" alt="">
			<h4 class="bold center">We Deliver it</h4>
			<p class="center">It's all free, eco-friendly and delivered right to your address.</p>
		</div>
		<div class="large-4 columns center">
			<img src="assets/2.jpg" alt="">
			<h4 class="bold center">You Enjoy it</h4>
			<p class="center">Fall in love with our hand picked produce, fresh from the farmer.</p>
		</div>
	</div>	
	<div class="clear20"></div>
</div>



