
<div class="clear20"></div>
<div class="row">
  <h4 class="bold">Order you’re weekly bag right now!</h4>
  <p>We hand pick the best product for you, straight from the farmer</p>
</div>

<div class="clear10"></div>

<div class="row products center">
  <div class="large-4 columns">
      <div class="box">
      <img src="../assets/images/product_1.png" width="116" alt="">
      <p>The perfect deal for fruits lovers. You get a variety of very affordable fruits, ecovered from the best suppliers and farmers.</p>
      <p><a href="#" data-reveal-id="myModal1">What do I get?</a></p>
      <div>
        <input type="radio" id="radio01" name="radio" />
        <label for="radio01"><span></span></label>
      </div>
      </div>
  </div>
  <div class="large-4 columns">
    <div class="box">
      <img src="../assets/images/product_2.png" width="127" alt="">
      <p>The perfect deal for vegetables lovers, an excellent value for your money. All our vegetables come from farmers in the UK.</p>
      <p><a href="#" data-reveal-id="myModal2">What do I get?</a></p>

    <div>
     <input type="radio" id="radio02" name="radio" />
     <label for="radio02"><span></span></label>
    </div>

    </div>
  </div>
  <div class="large-4 columns">
    <div class="box">
      <img src="../assets/images/product_3.png" width="104" alt="">
      <p>The Mixybag offers the best of both worlds: the best of our recovered fruits, vegetables and more. Plenty of fun in perspective!</p>
      <p><a href="#" data-reveal-id="myModal3">What do I get?</a></p>
     <input type="radio" id="radio03" name="radio" />
     <label for="radio03"><span></span></label>

      <!-- ADD RADIO BUTTONS -->
    </div>
  </div>
</div>



<div id="myModal1" class="reveal-modal" data-reveal>
  <h2>Awesome. I have it.</h2>
  <p class="lead">Your couch.  It is mine.</p>
  <p>I'm a cool paragraph that lives inside of an even cooler modal. Wins!</p>
  <a class="close-reveal-modal">&#215;</a>
</div>
<div id="myModal2" class="reveal-modal" data-reveal>
  <h2>Awesome. I have it.</h2>
  <p class="lead">Your couch.  It is mine.</p>
  <p>I'm a cool paragraph that lives inside of an even cooler modal. Wins!</p>
  <a class="close-reveal-modal">&#215;</a>
</div>
<div id="myModal3" class="reveal-modal" data-reveal>
  <h2>Awesome. I have it.</h2>
  <p class="lead">Your couch.  It is mine.</p>
  <p>I'm a cool paragraph that lives inside of an even cooler modal. Wins!</p>
  <a class="close-reveal-modal">&#215;</a>
</div>




<!-- <div class="row collapse">
    <div class="large-4 columns">
      <ul class="pricing-table left-side">
        <li class="title">Fruitybag</li>
        <li class="price">£9.99</li>
        <li class="description">Fruitful Choice</li>
        <li class="bullet-item"><i class="foundicon-graph"></i>Description</li>
        <li class="cta-button"><a class="button" href="/users/sign_up"></a></li>
      </ul>
    </div>
    <div class="large-4 columns recommended">
      <ul class="pricing-table">
        <li class="title">Vegybag</li>
        <li class="price">£9.99</li>
        <li class="description">Healthy Healthy</li>
        <li class="bullet-item"><i class="foundicon-graph"></i>Description</li>
        <li class="cta-button"><a class="button" href="/users/sign_up"></a></li>
      </ul>
    </div>
    <div class="large-4 columns">
      <ul class="pricing-table right-side">
        <li class="title">Mixiebag</li>
        <li class="price">£9.99</li>
        <li class="description">Kowabunga</li>
        <li class="bullet-item"><i class="foundicon-graph"></i>Description</li>
        <li class="cta-button"><a class="button" href="/users/sign_up"></a></li>
      </ul>
    </div>
  </div>
 -->
  <p>Order by Saturday 11pm, get your bag by Monday 12pm!</p>
  <li class="cta-button"><a class="button" href="/users/sign_up">Begin Order</a></li>


       
      
 
    