<html>
<head>
<h1>Product Landing Page</h1>

<body>


<!-- Requires Foundation 4 | visit http://foundation.zurb.com to download -->
<div class="row collapse">
    <div class="large-4 columns">
      <ul class="pricing-table left-side">
        <li class="title">Fruitybag</li>
        <li class="price">£9.99</li>
        <li class="description">Fruitful Choice</li>
        <li class="bullet-item"><i class="foundicon-graph"></i>Description</li>
        <li class="cta-button"><a class="button" href="#"></a></li>
      </ul>
    </div>
    <div class="large-4 columns recommended">
      <ul class="pricing-table">
        <li class="title">Vegybag</li>
        <li class="price">£9.99</li>
        <li class="description">Healthy Healthy</li>
        <li class="bullet-item"><i class="foundicon-graph"></i>Description</li>
        <li class="cta-button"><a class="button" href="#"></a></li>
      </ul>
    </div>
    <div class="large-4 columns">
      <ul class="pricing-table right-side">
        <li class="title">Mixiebag</li>
        <li class="price">£9.99</li>
        <li class="description">Kowabunga</li>
        <li class="bullet-item"><i class="foundicon-graph"></i>Description</li>
        <li class="cta-button"><a class="button" href="#"></a></li>
      </ul>
    </div>
  </div>

  <p>Order by Saturday 11pm, get your bag by Monday 12pm!</p>
  <button>Begin Order</button>              





</body>
</head>
</html>
       
      
 
    