// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home{
  font-size:12px;
  color:red;
  padding:20px;
}

.worknow{
  color:blue;
}
