$white:#f9f6f3;
$black:#333333;
$grey:#d8d8d8;
$lightgrey:#f5f5f5;
$shadow:#eeeae6;
$green: #40cc6b;
$yellow:#ffe135;


::-webkit-input-placeholder { font-size:12px; }
::-moz-placeholder { font-size:12px; } /* firefox 19+ */
:-ms-input-placeholder { font-size:12px; } /* ie */
input:-moz-placeholder { font-size:12px; }


@mixin shadow{
	-webkit-box-shadow: 0px 2px 0px 0px rgba(238, 234, 230, 1);
	-moz-box-shadow:    0px 2px 0px 0px rgba(238, 234, 230, 1);
	box-shadow:         0px 2px 0px 0px rgba(238, 234, 230, 1);

}

@mixin shadow-dark{
	-webkit-box-shadow: 0px 2px 0px 0px rgba(150, 150, 150, 0.8);
	-moz-box-shadow:    0px 2px 0px 0px rgba(150, 150, 150, 0.8);
	box-shadow:         0px 2px 0px 0px rgba(150, 150, 150, 0.8);

}

@mixin animate-fast{
	-o-transition:color .2s ease-out, background .2s ease-in;
	  -ms-transition:color .2s ease-out, background .2s ease-in;
	  -moz-transition:color .2s ease-out, background .2s ease-in;
	  -webkit-transition:color .2s ease-out, background .2s ease-in;
	  /* ...and now override with proper CSS property */
	  transition:color .2s ease-out, background .2s ease-in;
}

.clear5{padding:5px 0 5px 0;}
.clear10{padding:10px 0 10px 0;}
.clear20{padding:20px 0 20px 0;}
.clear30{padding:30px 0 30px 0;}
.clear40{padding:40px 0 40px 0;}
.clear50{padding:50px 0 50px 0;}
.clear60{padding:60px 0 60px 0;}

.center{text-align:center;}

.mont{font-family: 'Montserrat', sans-serif;}

.bold{font-weight:700;}

.open{font-family: 'Open Sans', sans-serif;}

.bg{
	background: url(https://s3.amazonaws.com/Sincuru/bg.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	border-bottom:4px solid $yellow;
}

.white{color:white}

.rounded{border-radius:6px;}
.rounded input{border-radius:6px;}

.shadow{@include shadow-dark;}

.shadow-text{text-shadow: 0px 2px 0px rgba(150, 150, 150, 0.8);}


.large{font-size: 65px;}
.medium{font-size:22px;}
.small{font-size:12px;}


//HEADER


#header{
	padding: 30px 20px 110px 20px;
	background:$white;
	 @include shadow;
	.logo{
		img{width:50%;} /* retina */
	}
	.product{
		text-align: right;
		padding-top:20px;
		li{
			display: inline-block;
			padding-left:40px;
		}
	}
}

#header-page{
	padding: 20px 20px 75px 20px;
	background:$white;
	 @include shadow;
	.logo-page{
		img{width:35%;} /* retina */
	}

	.product{
		padding-top:20px;
		li{
			display: inline-block;
			padding-left:40px;
		}
	}
}



//HOME

.body1{
	background:#f5f5f5;
	img{padding-bottom:15px;}
}

body{
	 backface-visibility:hidden;

}





//STATIC PRODUCT LIST
.products{
	img{padding-bottom:30px;}
	p{line-height:35px;}
}

.box{
	background:$white;
	@include shadow-dark;
	border-radius:6px;
	padding:20px;
}

.order_btn{
	li{
		display: inline-block;
		padding-left:20px;
	}
}

i.fa.fa-angle-left{
	font-size: 14px;
	padding-right: 5px;
}


// Page 2 of 3

.bubble 
{
position: relative;
padding: 20px 20px 2px 20px;
background: #f5f5f5;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
p{font-size:14px;}
margin-bottom:25px;
width:400px;
float:right;
}

.bubble:after 
{
content: '';
position: absolute;
border-style: solid;
border-width: 9px 9px 9px 0;
border-color: transparent #f5f5f5;
display: block;
width: 0;
z-index: 1;
margin-top: -9px;
left: -9px;
top: 50%;
}


.facts{
	img.one{
		margin: 16px 10px 0 0;
	}

	img.two{
		margin:70px 10px 0 0;
	}

	img.three{
		margin:70px 10px 0 0 ;
	}
}



//CUSTOM RADIO BTN's
input[type="radio"] {
    display:none;
}
input[type="radio"] + label {
    color: $black;
    font-family:Arial, sans-serif;
    font-size:14px;
	padding: 10px 0px 0px 4px;
	background: white;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	border: 1px solid grey;
}
input[type="radio"] + label span {
    display:inline-block;
    width:30px;
    height:30px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    cursor:pointer;
    -moz-border-radius:  50%;
    border-radius:  50%;
}

input[type="radio"] + label span {
     background-color:none;
}

input[type="radio"]:checked + label span{
     background-color:$green;
}

input[type="radio"] + label span,
input[type="radio"]:checked + label span {
  -webkit-transition:background-color 0.4s linear;
  -o-transition:background-color 0.4s linear;
  -moz-transition:background-color 0.4s linear;
  transition:background-color 0.4s linear;
}







//FOOTER

.footer{
	background: url(pattern.jpg) repeat;
	padding: 0 30px 0 30px;
	height:150px;

	input{
		border-radius:6px;
		padding-top: 10px;

	}

	a.button.postfix{
		border-radius: 6px;
		margin-left: 5px;
		padding: 2px;
		background:$lightgrey;
		color:$black;
		border:1px solid $grey;
	}
}

.mini-logo {
	float:left;
}

.link-wrap{
	padding: 14px 0 0 35px;
}

.links{
	font-size:12px;
	ul{}
	li{
		display:inline-block;
		padding:0 10px 0 10px;
	}
}

.social{
	color:#cecece;
	padding-left:6px;
	ul{}
	li{
		display:inline-block;
		padding:0 5px 0 5px;
	}
}






   
/* ==============
    GENERAL STYLING OF THE DROPDOWN
   ============== */   

.animatedDropDown > ul{
	margin:0 auto;
	padding:0;
}

.animatedDropDown > ul > li{ /* will style only the top level li */
	list-style: none;
	display: inline-block;
	position:relative;
	padding: 7px 25px;
}


.animatedDropDown ul ul { 
  margin-top:10px;
  margin-left:0; 
  padding-left:0; 
} 



/* Styling of the dropdown links */
.animatedDropDown li ul li a{
	padding:12px;
	text-decoration:none !important;
	display:block;
	font-size:15px;
}

/* ==============
    CSS3 Animation fun starts here	
   ============== */
/* Slide Down effect */
.animatedDropDown.slidedown li ul{
	position:absolute;
	list-style:none;
	width:180px;
	right:5px;
	/* This is important for the show/hide CSS animation */
	max-height:0px;
	overflow:hidden;
	border-radius:0 !important;
	-webkit-transition:max-height 0.2s ease-in-out;
	-moz-transition:max-height 0.2s ease-in-out;
	transition:max-height 0.2s ease-in-out;
	top:26px;
	margin-top: 64px;
	background: $white;
}

/* This will trigger the CSS */
/* transition animation on hover */

/* Slide down effect */
.animatedDropDown.slidedown li:hover ul{
	max-height:200px; /* Increase when adding more dropdown items */
}


/* ==============
   IE FIX
   ============== */
.lt-ie8 .home,
.lt-ie8 .animatedDropDown > ul > li {
	display:inline;
	zoom:1;
}







