<div class="footer">
	<div class="clear20"></div>

	<div class="left">
		<img class="mini-logo" src="../assets/images/logo_min.png" width="28" alt="">
		<div class="link-wrap">
			<ul class="links">
				<li><a href="">About Us</a></li>
				<li><a href="">How It Works</a></li>
				<li><a href="">Careers</a></li>
				<li><a href="">Blog</a></li>
				<li><a href="">Contact Us</a></li>
				<li><a href="">FAQ</a></li>
				<li><a href="">Terms &amp; Privacy</a></li>
			</ul>
			    
			<ul class="social">
				<li><a href=""><i class="fa fa-facebook-square"></i></a></li>
				<li><a href=""><i class="fa fa-twitter-square"></i></a></li>
				<li><a href=""><i class="fa fa-youtube-square"></i></a></li>
				<li><a href=""><i class="fa fa-pinterest-square"></i></a></li>
				<li><a href=""><i class="fa fa-instagram"></i></a></li>
				<li><a href=""><i class="fa fa-google-plus-square"></i></a></li>
			</ul>
		</div>
	</div>
	<div class="right">
		<!-- ADD MAILCHIMP POST METHOD -->
		<form>
	      <div class="row collapse prefix-radius">
	        <div class="small-10 columns">
	          <input type="text" placeholder="Subscribe to our News">
	        </div>
	        <div class="small-2 columns">
	          <a href="#" class="button postfix">Go</a>
	        </div>
		  </div>
		</form>     
		<div class="copy"><p class="small">© Copyright Sincuru 2014 all rights reserve.</p></div>
	</div>

	<div class="clear10"></div>     
</div>
   
        


        
       
